/* Overall Container Styles */
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex:1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(90deg, rgb(0, 47, 255), #eef5ff);
  min-height: 100vh;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
}

main {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding-left: 25%;
  padding-right: 25%;
  flex-direction: column;
}

/* font & text styles*/
h1{
  font-size: 20pt;
  color: rgb(73, 71, 71);
  font-family: Georgia, serif;
}

h2 { 
  font-size: 24pt;
  text-align: center;
  color: rgba(0, 0, 0, 0.945);
  font-family: Georgia, serif;
}

p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.945);
  font-family: Georgia, serif;
  padding: 20px;
  background-color: white;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: rgb(73, 71, 71);
  font-family: Georgia, serif;
  font-size: 15pt;
}

/* Header Styles */
#nameLogoContainer {
  display: flex;
  flex-direction: row;
}

#logo {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.nameText {
  margin: 0;
  padding: 0;
  font-size: 20pt;
  color: rgb(73, 71, 71);
  align-content: center;
}

#navBar {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  gap: 10px;
  border: none;
}

#popupNav{ 
  display: none;
}

#popupList{
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  top: 80px;
  right: 0px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  gap: 1px;
  border: 1px black;
  border-style: solid;
}

.navList {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

/*Main pages styles*/
#homepage{
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

#message{
  position: absolute;
  left: 25%;
  z-index: -1;
  padding: 4px;
}

#homeDescriptionContainer {
  margin-top: 150px;
  width: 50%;
  height: auto;
}

#homeImgContainer{
  width: 50%;
  margin-top: 100px;
}

#homeImg{
  object-fit: contain;
  width: 100%;
}

#imgDescription{
  background-color: white;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

#about{
  padding-top: 5%;
  padding-bottom: 5%;
}

.imgContainer {
  width: 240px;
  height: auto;
  margin-right: 15px;
  float: left;
  vertical-align: bottom;
  padding-top: 5px;
  margin-bottom: 20px;
}



@media (max-width: 1340px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
  }
  main {
    padding-left: 15%;
    padding-right: 15%;
  }
  #message{
    left: 15%;
  }
}


@media(max-width: 1050px){
  #popupNav {
    display: flex
  }
  #navBar{
    display: none;
  }
  main { 
    padding-right: 5%;
    padding-left: 5%;
  }
  #message{
    left: 5%;
  }
}

@media(max-width: 500px) {
  #homepage{
    flex-direction: column;
  }
  .nameText{
    display: none;
  }
  #homeDescriptionContainer{
    margin-top: 100px;
    margin-bottom: 0px;
  }
  #homeImgContainer{
    margin-top: 0px;
  }
  #homeDescriptionContainer, #homeImgContainer {
    width: 100%;
  }
}